//--------------------------------------------------------------
// Global Form Variables
//--------------------------------------------------------------

// Buttons
$color-button-background: $color-forest;
$color-button-background-hover: lighten( $color-forest, 1% );
$color-button-text: $color-white;

// Inputs
$color-input-border: $color-loblolly;
$color-input-focus-text: $color-loblolly;
$color-input-text: $color-dove-gray;

$padding-input: rem(12) rem(20);