//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------

.site-footer {
  border-top: 2px solid $color-cod-gray;
  text-align: center;

  .copyright-text {
    font-size: rem(19);

    a {
      color: $color-white;
      text-decoration: underline;
    }
  }

  @include media($tablet-landscape) {
    text-align: left;
  }
}
