//--------------------------------------------------------------
// Generator Form
//--------------------------------------------------------------

.generator-form {

	// Create a grid for each group of fields.
	.input-group {
		@include clearfix;

		margin-bottom: $gutter;

		.field-group:first-child {

			@include media($tablet-portrait) {
				@include span-columns(6);
			}
		}

		.field-group:last-child {

			@include media($tablet-portrait) {
				@include span-columns(6);
				@include omega;
			}
		}
	}

	// Field group defaults.
	.field-group {

		label {
			display: block;
			font-size: rem(20);
			margin-bottom: rem(6);

			@include media($tablet-landscape) {
				margin-bottom: $gutter / 2;
			}
		}

		input {
			padding: rem(10);
			width: 95%;
		}

		.description {
			font-size: rem(12);
			font-style: italic;
		}
	}

}