//--------------------------------------------------------------
// Generator Form
//--------------------------------------------------------------

.generator-form {
	background-color: $color-curious-blue;
	padding: $gutter;

	.description,
	label {
		color: $color-white;
		line-height: 2;
	}

	input[type="text"] {
		border: 0;
		display: block;
		padding: rem(12);
		width: rem(350);
	}

	.description {
		color: $color-silver;
		font-size: rem(14);
		font-style: italic;
	}

	input[type="submit"] {
		background-color: $color-white;
		color: $color-curious-blue;
	}
}