//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

.site-branding {
	text-align: center;
	transform: translate(0, rem(-15));
}

.site-title {
	font-size: rem(48);
}

.site-description {
	font-size: rem(22);
	font-style: italic;
	margin-top: rem(10);
}

.site-logo {
	@include size(rem(268) rem(92));

	@include media($tablet-landscape) {
		@include size(rem(323) rem(111));
	}
}

.site-header {
	position: relative;
	z-index: 1;
}