//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure

.wrap {
	@include outer-container;

	margin: 0 auto;
	max-width: rem(1000);
	padding: 0;
}

.site-header,
.site-footer {
	align-items: center;
	background-color: $color-shark;
	color: $color-white;
	display: flex;
	height: rem(425);
	justify-content: center;
}

.site-footer {
	height: rem(250);
}

.site-content {
	background-color: $color-gallery;
}


.blog,
.single {

	.primary {
		@include fill-parent;

		@include media($tablet-landscape) {
			@include span-columns(8);

			width: 100%;
		}
	}

	.secondary {
		@include fill-parent;

		@include media($tablet-landscape) {
			@include span-columns(4);
		}
	}
}
