//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure

.wrap {
	@include outer-container;

	padding: 0 2 * $gutter;

	@include media($desktop) {
		padding: 0;
	}
}

.site-header,
.site-footer {
	background-color: $color-cod-gray;
	color: $color-white;
	margin: 0 auto;
	padding: $gutter 0;
}

.site-content {
	background-color: $color-gallery;
	margin: 0 auto;
}

.blog,
.single {

	.primary {
		@include fill-parent;

		@include media($tablet-landscape) {
			@include span-columns(8);
		}
	}

	.secondary {
		@include fill-parent;

		@include media($tablet-landscape) {
			@include span-columns(4);
		}
	}
}
