//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure

.wrap {
	@include outer-container;

	margin: 0 auto;
	max-width: rem(1000);
	padding: $gutter 2 * $gutter;
}

.site-header,
.site-footer {
	background-color: $color-shark;
	color: $color-white;
	height: rem(345);
}

.site-content {
	background-color: $color-gallery;
}


.blog,
.single {

	.primary {
		@include fill-parent;

		@include media($tablet-landscape) {
			@include span-columns(8);

			width: 100%;
		}
	}

	.secondary {
		@include fill-parent;

		@include media($tablet-landscape) {
			@include span-columns(4);
		}
	}
}
