//--------------------------------------------------------------
// Homepage Template
//--------------------------------------------------------------

.content-section {
	margin-bottom: rem(96);

	ol {
		margin: 0 0 0 $gutter * 2;
		padding: 0;
	}
}