//--------------------------------------------------------------
// Global Form Variables
//--------------------------------------------------------------

// Buttons
$color-button-background: $color-curious-blue;
$color-button-background-hover: darken( $color-curious-blue, 50 );
$color-button-text: $color-white;

// Inputs
$color-input-border: $color-silver;
$color-input-focus-text: $color-cod-gray;
$color-input-text: $color-dove-gray;

$padding-input: rem(3) rem(5);