//--------------------------------------------------------------
// Generator Form
//--------------------------------------------------------------

.generator-form {

	// Create a grid for each group of fields.
	.input-group {
		@include clearfix;

		margin-bottom: rem(30);

		.field-group:first-child {

			@include media($tablet-portrait) {
				@include span-columns(6);
			}

			@include media($tablet-landscape) {
				margin-right: 7.85%;
				width: 46%;
			}
		}

		.field-group:last-child {

			@include media($tablet-portrait) {
				@include span-columns(6);
				@include omega;
			}

			@include media($tablet-landscape) {
				margin-right: 7.85%;
				width: 46%;
			}
		}
	}

	// Field group defaults.
	.field-group {

		label {
			color: $color-shuttle;
			display: block;
			font-size: rem(15);
			font-weight: bold;
			letter-spacing: rem(1);
			margin-bottom: rem(6);
			text-transform: uppercase;

			@include media($tablet-landscape) {
				margin-bottom: rem(13);
			}
		}

		input {
			-webkit-font-smoothing: subpixel-antialiased;
			backface-visibility: hidden;
			color: $color-shark;
			font-size: rem(17);
			height: rem(60);
			padding: rem(10) rem(14) rem(10) rem(18);
			transition: border-color 0.3s ease-out, box-shadow 0.3s ease-out;
			width: 100%;

			&:focus,
			&:hover {
				border-color: $color-forest;
				box-shadow: 0 2px 20px 0 $box-shadow-green;
				outline: none;
			}

			&::placeholder {
				color: $color-shuttle;
				transform: none !important;
			}
		}

		.description {
			color: $color-shark;
			font-size: rem(14);
			font-style: italic;
			margin-top: rem(12);
			opacity: 0.85;
		}
	}
}